@using StronglyTypeView.Models;
@model Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("myForm"))
        {

         @Html.TextBoxFor(x => x.name)
        <br /><br />
        @Html.TextBoxFor(y => y.Address)
        <br /><br />
        @Html.TextBoxFor(z => z.desination)
        }
    </div>
</body>
</html>
